html,body {
    height: 100%;
}

.ee-app {
    height: auto;
}



/*--------------HEADER---------------*/
.ee-header {
    max-height: 60px;
}

.ee-header .ee-logo{
    max-width:60px;
    background: #fdfdf8;
}

.ee-header .ee-todo{
    background: #535353;
    text-align: center;
}

.ee-header .ee-share{
    background: #666666;
}



/*--------------MAINER---------------*/
.ee-mainer {
}

.ee-mainer .ee-intviz{
    background: #000000;
}

.ee-mainer .ee-swt{
    background: #535353;
}

.ee-mainer .ee-cal{
    background: #666666;    
}

.ee-mainer .ee-cir{
    background: #535353;    
}



/*--------------FOOTER---------------*/
.ee-footer {
    min-height: 30px;
}

.ee-footer .ee-medibar{
    background: #666666;    
}

.ee-footer .ee-timebar{
    background: #535353;    
}

.ee-footer .ee-attrbar{
    background: #666666;    
}
